<template>
  <v-container fluid flex-column v-if="albums">
    <div class="form">
        <h1>Formulaire de modification d'albums</h1>

        <label> Nom de l'album </label>
        <input type="text" v-model="albums.name" />
        <label> Année de sortie </label>
        <input type="tel" v-model="albums.released"/>
        <label> Nombre de titres </label>
        <input type="text" v-model="albums.tracks" />

        <v-btn class="edit-btn" dark @click="save"> Éditer </v-btn>

    </div>

  </v-container>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      albums: state => state.albums.albums
    })
  },
  methods: {
    ...mapActions({
      fetchAlbums: 'albums/fetchAlbums',
      editAlbums: 'albums/editAlbums'
    }),
    save () {
      this.editAlbums(this.albums)
      this.$router.push({ name: 'dashboard.index' })
    }
  },
  mounted () {
    this.fetchAlbums(this.$route.params.id)
  }
}
</script>

