<template>
  <div class="dashboard">
    <h1>Back-Office</h1>
   
    <br/> 

    <p class="table-title">News</p>

    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">Titre</th>
            <th class="text-left">Description</th>
            <th class="text-left">Date de publication</th>
            <th class="text-left">Éditer</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in news" :key="item.name">
            <td>{{ item.title.slice(0, 30) }}..</td>
            <td>{{ item.content.slice(0, 80) }}..</td>
            <td>{{ item.published }}</td>
            <td>
              <router-link :to="{name: 'news.edit', params: {id: item.id}}">
                <v-icon>mdi-pencil</v-icon>
              </router-link>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
      
    <p class="table-title">Artistes</p>

    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">Nom</th>
            <th class="text-left">Description</th>
            <th class="text-left">Pays</th>
            <th class="text-left">Éditer</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="artist in artists" :key="artist.name">
            <td>{{ artist.name }}</td>
            <td>{{ artist.description.slice(0, 80) }}..</td>
            <td>{{ artist.origin }}</td>
            <td>
              <router-link :to="{name: 'artists.edit', params: {id: artist.id}}">
                <v-icon>mdi-pencil</v-icon>
              </router-link>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>

    <p class="table-title">Albums</p>

    <v-simple-table>
      <template v-slot:default>

        <thead>
          <tr>
            <th class="text-left">Titre</th>
            <th class="text-left">Date de sortie</th>
            <th class="text-left">Nombre de titres</th>
            <th class="text-left">Éditer</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in albums" :key="item.name">
            <td>{{ item.name }}</td>
            <td>{{ item.released }}</td>
            <td>{{ item.tracks }}</td>
            <td>
              <router-link :to="{name: 'albums.edit', params: {id: item.id}}">
                <v-icon>mdi-pencil</v-icon>
              </router-link>
              </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>

    <p class="table-title">Concerts</p>

    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">Nom de la salle de concert</th>
            <th class="text-left">Date</th>
            <th class="text-left">Id de l'Artiste</th>
            <th class="text-left">Éditer</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in concerts" :key="item.name">
            <td>{{ item.name }}..</td>
            <td>{{ item.date }}</td>
            <td>{{ item.artistId }}</td>
            <td>
              <router-link :to="{name: 'concerts.edit', params: {id: item.id}}">
                <v-icon>mdi-pencil</v-icon>
              </router-link>
              </td>
            <td>{{ item.published }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </div>
</template>


<script>

import { mapActions, mapState } from 'vuex'
export default {
  name: 'Index',
  data () {
    return {
     
    }
  },
  mounted () {
    this.fetchManyNews()
    this.fetchManyArtists()
    this.fetchManyAlbums()
    this.fetchManyConcerts()
  },
  methods: {
    ...mapActions({
      fetchManyNews: 'news/fetchManyNews',
      fetchManyArtists: 'artists/fetchManyArtists',
      fetchManyAlbums: 'albums/fetchManyAlbums',
      fetchManyConcerts: 'concerts/fetchManyConcerts'
    }),
  },
  computed: {
    ...mapState({
      news: state => state.news.manyNews,
      artists: state => state.artists.manyArtists,
      albums: state => state.albums.manyAlbums,
      concerts: state => state.concerts.manyConcerts
    })
  },
}
</script>
<style lang="scss">
  .dashboard-index{
    &__title {
      margin: 20px 0;
      text-align: center;
    }
  }
  table {
    border: 2px solid lightgrey !important;
    margin: 20px auto !important;
    
    td {
      text-align: center;
    }
  }
  .table-title{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
  }
</style>
