<template>
  <v-container fluid flex-column v-if="artists">
    <div class="form">
      <h1>Formulaire de modification d'artiste</h1>

      <label> Nom </label>
      <input type="text" v-model="artists.name" />
      <label> Description </label>
      <textarea type="text" v-model="artists.description"></textarea>
      <label> Origine </label>
      <input type="text" v-model="artists.origin" />
      <label> Photo (url) </label>
      <input type="url" v-model="artists.avatar" />
      <v-btn class="edit-btn" dark @click="save"> Éditer </v-btn>
    </div>

  </v-container>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      artists: state => state.artists.artists
    })
  },
  methods: {
    ...mapActions({
      fetchArtists: 'artists/fetchArtists',
      editArtists: 'artists/editArtists'
    }),
    save () {
      this.editArtists(this.artists)
      this.$router.push({ name: 'artists.index' })
    }
  },
  mounted () {
    this.fetchArtists(this.$route.params.id)
  }
}
</script>

