<template>
  <div>
    <ul>
      <li v-for="item in artists" :key="item.id" class="artist-item">
           <router-link :to="{name: 'artists.show', params: {id: item.id}}">
        <div>
            <img :src="item.avatar" :alt="item.title" class="thumbnail">
        </div>
        <div class="informations">
          <p class="published-date">{{ item.published }}</p>
            {{ item.name }}
          <p class="description">
            {{ item.description.slice(0, 100) }}...
          </p>
        </div>
        </router-link>

      </li>
    </ul>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  methods: {
    ...mapActions({
      fetchManyArtists: 'artists/fetchManyArtists'
    })
  },
  computed: {
    ...mapState({
      artists: state => state.artists.manyArtists
    })
  },
  mounted () {
    this.fetchManyArtists()
  }
}
</script>
<style lang="scss" scoped>
  ul {
    @media screen and (min-width: 800px){
      width: 80%;
      max-width: 960px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
  li {
    padding: 10px;
    box-sizing: border-box;
    width: 90%;
    font-size: 24px;
    list-style: none;
    margin: 20px auto;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
    border-radius: 6px;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    
    @media screen and (min-width: 800px){
      max-width: 260px;
      margin: 20px 0;
    }

    &:hover {
      box-shadow: 1px 1px 10px rgba(0,0,0,0.8);
    }

    .informations {
      padding: 5px;
      box-sizing: border-box;
      text-align: center;
    }
    .thumbnail {
      border-radius: 60%;
      width: 120px;
      margin: 0 auto;
      display: block;
      object-fit: cover;
      height: 120px;
      object-position: top;
    }
  }

  .published-date {
    font-size: 14px;
  }
  .description {
    padding-top: 5px;
    font-size: 16px;
  }
</style>
