<template>
  <div v-if="artists" class="artist">
    <div>
      <img class="avatar" :src="artists.avatar" :alt="artists.name"/>

      <div class="likes">
        <v-icon>mdi-cards-heart</v-icon>
        {{ artists.likes }}
      </div>


    </div>
    <div class="information">

      <h1> {{artists.name}}
         <span>({{ artists.origin }})</span>
      </h1>

      <p class="description">{{ artists.description }}</p>

      <h2>Albums&nbsp;:</h2>

      <div v-for='album in albums' :key="album.name">
        <p class="album" v-if="album"> {{ album.name }} <span>({{ album.released }}) </span></p>
      </div>
      <p v-if="albums.length <= 0">Aucun album de {{artists.name }} n'a été ajouté sur Music News pour le moment.</p>

      <h2>Concerts&nbsp;:</h2>

      <div v-for='concert in concerts' :key="concert.name">
        <p class="concert" v-if="concert"> {{ concert.name }}
          <span>({{ concert.date }})</span>
        </p>
      </div>
      <p v-if="concerts.length <= 0">Aucun concert de {{artists.name }} n'a été ajouté sur Music News pour le moment.</p>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

import axios from 'axios'

export default {
  data () {
    return {
      albums: [],
      concerts: [],
    }
  },
  methods: {
    ...mapActions({
      fetchArtists: 'artists/fetchArtists',
      deleteArtists: 'artists/deleteArtists'
    }),
    edit () {
      this.$router.push({ name: 'artists.edit', params: { id: this.artists.id } })
    },
    deleteItem () {
      this.deleteArtists(this.$route.params.id)
      this.$router.push({ name: 'news.index' })
    },
    getAlbum () {
      axios.get('http://localhost:3000/albums').then(response => {
        this.albums = response.data.filter(album => album.artistId === this.artists.id)
      })
    },
    getConcert () {
      axios.get('http://localhost:3000/concerts').then(response => {
        this.concerts = response.data.filter(concert => concert.artistId === this.artists.id)
      })
    }
  },
  computed: {
    ...mapState({
      artists: state => state.artists.artists
    })
  },
  mounted () {
    this.fetchArtists(this.$route.params.id).then(() => {
      this.getAlbum()
      this.getConcert()
    })
  }
}
</script>
<style lang="scss" scoped>
  .artist{
    width: 100%;

    @media screen and (min-width: 800px) {
      max-width: 900px;
      margin: 6vh auto 0;
      display: flex;
      align-items: center;
    }
    h1 {
      margin-bottom: 25px;
      font-size: 40px;
      
      @media screen and (min-width: 800px){
        font-size: 54px;
      }
      span{
        font-size: 12px;
      }
    }
    h2{
      margin: 20px 0 10px;
    }
    .avatar {
      @media screen and (max-width: 800px){
        width: 150px;
        height: 150px;
        border-radius: 60%;
        margin: 10px auto;
      }

      width: 240px;
      margin-right: 30px;
      max-width: 300px;
      max-height: 250px;
      object-fit: cover;
      display: block;
    }
    .album, .concert {
      font-size: 18px;

      span{
        display: inline-block;
        margin: 0 auto;
        font-size: 16px;
      }
    }
    .description {
      font-size: 20px;
      margin: 10px auto;
    }
    .likes {
      margin: 20px auto;

      i {
        color: red;
      }

      @media screen and (max-width: 800px) {
        position: absolute;
        top: 20px;
        margin: 0;
        right: 20px;
      }
    }
    .informations {

    }
  }
</style>
