<template>
  <div class="home">
    <Navbar/>

    <div class="block-container">
      <div class="welcome">
        <h1>Bienvenue sur le site Music News</h1>
        <p>Les dernières news du monde musicale. </p>
      </div>
        <div class="container">
         <div class="news">
          <p class="news__release">Les dernières news</p>

          <ul>
            <li v-for="item in news" :key="item.id" class="news-item">
              <router-link :to="{name: 'news.show', params: {id: item.id}}">
                {{ item.title }}
              </router-link>
            </li>
          </ul>
        </div>
        
        <div class="albums">
          <p class="albums__release">Les dernières sorties albums</p>

          <ul>
            <li v-for="item in albums" :key="item.id" class="news-item">
              {{ item.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Navbar from "../components/Navbar"
  import { mapActions, mapState } from 'vuex'

  export default {
    name: 'Home',
    components: { Navbar },
    data () {
      return {
      
      }
    },
   methods: {
    ...mapActions({
      fetchManyNews: 'news/fetchManyNews',
      fetchManyAlbums: 'albums/fetchManyAlbums',
      fetchManyArtists: 'artists/fetchManyArtists'
    })
  },
  computed: {
    ...mapState({
      news: state => state.news.manyNews,
      albums: state => state.albums.manyAlbums,
      artists: state => state.artists.manyArtists
    })
  },
  mounted () {
    this.fetchManyNews()
    this.fetchManyAlbums()
    this.fetchManyArtists()
  }
}
</script>
<style lang="scss" scoped>

.home{

  .welcome {
    width: 90%;
    margin: 10vh auto;
    max-width: 540px;
    @media screen and (max-width: 800px){
      margin: 3vh auto;
    }
  } 
  .container {
    @media screen and (min-width: 800px){
      display: flex;
      margin-top: 5vh;
      justify-content: space-around;
    }

    .news, 
    .albums{
      @media screen and (min-width: 800px){
        width:35%;
      }

      &__release {
        @media screen and (min-width: 800px){
          font-size: 32px;
          margin-bottom: 20px;
        }
        font-size: 24px;
        text-decoration: underline;
      }

      ul{
        padding: 10px 0;
        box-sizing: border-box;
      }

      li, li a {
        list-style: none;
        font-size: 16px;
        margin: 5px 0 20px;

        @media screen and (min-width: 800px){
          font-size: 20px;
        }

        &:hover a{
          text-decoration: underline;
        }
      }
    }
    .news {
      @media screen and (min-width: 800px){
        width: 65%;
      }
    }
  }
}
</style>
