<template>
  <div class="login">
    <Navbar/>

    <div class="form">
      <h1> Connexion </h1>
      <div class="form-group">
        <label>Email</label>
        <input
          type="text"
          v-model="email"
        />
      </div>
      <div class="form-group">
        <label>Mot de passe</label>
        <input
          type="password"
          v-model="password"
        />
      </div>
      <button @click="login">
        Se connecter
      </button>
      <p class="error" v-if="error">{{ error }}</p>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Navbar from '../components/Navbar.vue'

export default {
  components: { Navbar },
  data () {
    return {
      email: '',
      password: '',
      error: null,
      isLogged: false,
    }
  },
  methods: {
    login () {
      axios.post('http://localhost:3000/login', {
        email: this.email,
        password: this.password
      })
      .then(response => {
        localStorage.setItem('token', response.data.accessToken)
        this.$router.push({ name: 'dashboard.index' })
      })
      .catch(er => {
        this.error = 'Email ou mot de passe invalide'
      })
    },
  }
}
</script>

<style lang="scss" scoped>
  .login {
    
    text-align: center;

    .form {
      box-shadow: 2px 1px 16px lightgrey;
      width: 95%;
      padding: 20px;
      box-sizing: border-box;
      margin: 15vh auto 0;
      max-width: 560px;
      
      .error {
        color: red;
        font-size: 12px;
        padding-top: 10px;
        box-sizing: border-box;
      }
      label{
        margin: 10px auto 2px;
      }

      .form-group {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto 10px;

        input {
          width: 90%;
        }
      }
      button {
        margin: 0 auto;
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 4px;
        display: block;
      }
    }
  }
</style>
