<template>
  <v-card class="mx-auto overflow-hidden">
    <v-app-bar color="deep-purple" dark>
      <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
      <router-link :to="{ name: 'Home' }">
        <v-toolbar-title>Music News</v-toolbar-title>
      </router-link>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" absolute temporary>
      <v-list nav dense>
        <v-list-item-group v-model="group" active-class="deep-purple--text text--accent-4"
        >
          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-home</v-icon>
            </v-list-item-icon>
           <router-link :to="{name: 'Home'}">
              <v-list-item-title>Accueil</v-list-item-title>
            </router-link>
          </v-list-item>

          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-book</v-icon>
            </v-list-item-icon>
            <router-link :to="{name: 'news.index'}">
              <v-list-item-title>News</v-list-item-title>
            </router-link>
          </v-list-item>


          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-account-music</v-icon>
            </v-list-item-icon>
            <router-link :to="{name: 'artists.index'}">
              <v-list-item-title>Artistes</v-list-item-title>
            </router-link>
          </v-list-item>


          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-account</v-icon>
            </v-list-item-icon>
            <router-link :to="{ name: 'Login' }">
              <v-list-item-title> Connexion </v-list-item-title>
            </router-link>
          </v-list-item>


          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-account</v-icon>
            </v-list-item-icon>
            <router-link :to="{ name: 'dashboard.index' }">
              <v-list-item-title> Dashboard </v-list-item-title>
            </router-link>
          </v-list-item>

          <v-list-item>
            <v-list-item-title @click="logout"> Déconnexion </v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </v-card>
</template>

<script>
export default {
  data () {
    return {
      drawer: false,
      group: null,
    }
  },
  methods: {
    logout () {
      localStorage.removeItem('token')
      this.$router.push({ name: 'Home' })
    }
  },
}
</script>
<style>
  .v-app-bar a{
    color: white !important;
  }
  aside{
    min-height: 100vh !important;
  }
  a {
    text-decoration: none;
    color: black !important;
    font-size: 20px;
  }
</style>

