<template>
  <v-container fluid flex-column v-if="news">
    <div class="form">
      <h1>Formulaire de modification de news</h1>
      <label> Titre </label>
      <input type="text" v-model="news.title" />
      <label> Description </label>
      <textarea type="text" v-model="news.content">

      </textarea>
       <label> Illustration (url)</label>
      <input type="url" v-model="news.image" />
      <v-btn class="edit-btn" dark @click="save"> Éditer </v-btn>
    </div>
  </v-container>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      news: state => state.news.news
    })
  },
  methods: {
    ...mapActions({
      fetchNews: 'news/fetchNews',
      editNews: 'news/editNews'
    }),
    save () {
      this.editNews(this.news)
      this.$router.push({ name: 'dashboard.index' })
    }
  },
  mounted () {
    this.fetchNews(this.$route.params.id)
  }
}
</script>

<style lang="scss">
  input, textarea, select {
    border: 1px solid black !important;
    padding: 4px;
    width: 80%;
    margin: 6px auto;
    box-sizing: border-box;
    background-color: #F2F2F2 !important;

    &:focus{
      background-color: white !important;
    }
  }
  label{
    width: 80%;
    margin: 10px auto;
  }
  textarea {
    min-height: 80px;
  }

  .edit-btn {
    margin: 15px auto;
    width: 200px;
  }
  .form {
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    width: 90%;
    margin: 6vh auto 0;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    
    h1{
      font-size: 28px;
      text-align: center;
      margin-bottom: 20px;
    }
  }
</style>
