<template>
  <div>
    <ul>
      <li v-for="item in news" :key="item.id" class="news-item">
        <router-link :to="{name: 'news.show', params: {id: item.id}}">
          <div class="informations">
            <p class="published-date">Publié le {{ item.published }}</p>
          
              {{ item.title }}
            <p class="description">
              {{ item.content.slice(0, 100) }}...
            </p>
          </div>
          <div>
          <img :src="item.image" :alt="item.title" class="thumbnail">
         </div>
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  methods: {
    ...mapActions({
      fetchManyNews: 'news/fetchManyNews'
    })
  },
  computed: {
    ...mapState({
      news: state => state.news.manyNews
    })
  },
  mounted () {
    this.fetchManyNews()
  }
}
</script>
<style lang="scss" scoped>
  ul {
    @media screen and (min-width: 800px){
      width: 60%;
      margin: 0 auto;
    }
  }
  li{
    list-style: none;
  }
  a {
    padding: 10px;
    box-sizing: border-box;
    font-size: 24px;
    width: 90%;
    list-style: none;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
    border-radius: 6px;
    background-color: rgb(241, 241, 241);
    margin: 15px auto;
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;
   
    @media screen and (min-width: 800px){
      height: 220px;
      margin: 20px 0;
      align-items: center;
      flex-direction: row;
    }

    &:hover {
      box-shadow: 1px 1px 10px rgba(0,0,0,0.8);
    }

    .informations {
      padding: 5px;
      box-sizing: border-box;
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-around;
    }
    .thumbnail {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 60%;
      margin: 10px auto;
      display: block;
    }
  }
  .published-date {
    font-size: 12px;
    color: rgb(129, 129, 129);
  }
  .description {
    padding-top: 5px;
    font-size: 16px;
  }
</style>
