<template>
  <div v-if="news" class="news">
    <div class="news__illustration">
      <img :src="news.image" :alt="news.title" class="news__img"/>

      <router-link class="redirect" v-if="news.artistId !== null" :to="{name: 'artists.show', params:
    {id: news.artistId}}">
        Voir la fiche de l'artiste
      </router-link>
    </div>

    <div class="news__information">
      <h2 class="news__title"> {{ news.title }} </h2>
      <p class="news__published">Publié le {{ news.published }}</p>

      <p class="news__description"> {{ news.content }} </p>
    </div>
    <!-- <button @click="edit">Edit news</button>
    <button @click="deleteItem">Delete</button> -->
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  methods: {
    ...mapActions({
      fetchNews: 'news/fetchNews',
      deleteNews: 'news/deleteNews'
    }),
    edit () {
      this.$router.push({ name: 'news.edit', params: { id: this.news.id } })
    },
    deleteItem () {
      this.deleteNews(this.$route.params.id)
      this.$router.push({ name: 'news.index' })
    }
  },
  computed: {
    ...mapState({
      news: state => state.news.news
    })
  },
  mounted () {
    this.fetchNews(this.$route.params.id)
  }
}
</script>
<style lang="scss" scoped>
  .news {
    width: 100%;

    @media screen and (min-width: 800px){
      display: flex;
      justify-content: center;
      margin: 10vh 0 0;
    }

    &__img {
      width: 90%;
      max-width: 360px;
      object-fit: cover;
      margin: 0 auto;
      display: block;

      @media screen and (min-width: 800px){
        width: 360px;
        max-height: 300px;
        margin-right: 40px;
      }
    }

    &__information{
      @media screen and (min-width: 800px){
        max-width: 500px;
      }
    }
    &__published {
      color: #979797;
    }

    &__title{
      font-size: 26px;
      margin: 10px 0 20px;

      @media screen and (min-width: 680px){
        font-size: 36px;
      }
    }
    &__description {
      margin: 20px auto;
    }
    .redirect{
      display: block;
      text-align: center;
      margin: 20px auto;
      text-decoration: underline;
    }
  }

</style>
