<template>
  <v-container fluid flex-column v-if="concerts">
    <div class="form">
        <h1>Formulaire de modification de concerts</h1>

        <label> Nom de la salle de concert </label>
        <input type="text" v-model="concerts.name" />
        <label> Date du concert </label>
        <input type="tel" v-model="concerts.date"/>
        <label> Artiste </label>
   
        <select v-model="concerts.artistId" v-if="artists">
          <option value="">Choisissez un artiste</option>
          <option v-for="item in artists" :key="item.name" :value="item.id">{{item.name}}</option>
        </select>

        <v-btn class="edit-btn" dark @click="save"> Éditer </v-btn>

    </div>

  </v-container>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import axios from 'axios'

export default {
  data () {
    return {
      selected: '',
      artists: []
    }
  },
  computed: {
    ...mapState({
      concerts: state => state.concerts.concerts
    })
  },
  methods: {
    ...mapActions({
      fetchConcerts: 'concerts/fetchConcerts',
      editConcerts: 'concerts/editConcerts',
      fetchManyArtists: 'artists/fetchManyArtists',
    }),
    save () {
      this.editConcerts(this.concerts)
      this.$router.push({ name: 'dashboard.index' })
    },
    getArtist () {
       axios.get('http://localhost:3000/artists').then(response => {
        this.artists = response.data
      })
    }
  },
  mounted () {
    this.fetchConcerts(this.$route.params.id).then(() => {
      this.getArtist()
    })
  }
}
</script>

