<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
  #app{
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
  }

  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>
