<template>
  <div>
    
    <Navbar />

    <v-main>
      <v-container>
        <transition name="fade" mode="out-in">
          <router-view />
        </transition>
      </v-container>
    </v-main>

  </div>
</template>

<script>
import Navbar from '@/components/Navbar'

export default {
  components: {
    Navbar
  },
  data () {
    return {

    }
  },
  methods: {

  },
  mounted () {
  
  },
}
</script>
<style lang="scss">
  header{
    border-radius: 0 !important;
  }
</style>
